<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />
<head>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
<title>游戏帮助</title>
<style>
.paraTitle
{
	font-weight:bold;
}
</style>
</head>
<body>
	
<p><a href="#story">剧情</a><br />
<a href="#manage">经营领地</a><br />
<a href="#war">战争相关</a></p>

<p class="paraTitle"><a name="story">剧情</a></p>
<p>欢迎来到奇迹大陆，残暴的国王刚刚死去。如今，诸侯四起，战火纷飞。一个崭新的时代拉开了序幕。你可以经营自己的领地，让他成为繁华之都。你也可以发展自己的势力，南征北战，拯救万民于水火！为了荣誉而战，你就是下一代帝王！</p>

<br /> 

<p class="paraTitle"><a name="manage">经营领地</a></p>

<p>1.	建筑分类<br /> 
<image src="tabpic0.png" align="left" border="1" width="40" hspace="4" vspace="4" />经营页面建筑分为民居、店铺、农田、采石场、伐木场、神像、装饰等。民居可以招募到人口；店铺可以收获税收；农田可以种植农作物，收获粮食；采石场可以开采矿石；伐木场可以获得木材；神像可以施展神迹并增加人口上限；装饰可以增加人口上限</p> <br /> 

<p>2.	种植农作物<br /> 
<image src="opbutton3.png" align=left border=1 width=40 hspace=4 vspace=4 />花费一些银币和时间，获得粮食和经验。建造商店，招募人口，训练士兵都需要粮食</p><br /> 

<p>3.	招募人口<br /> 
<image src="opbutton6.png" align=left border=1 width=40 hspace=4 vspace=4 />建造民居可以招募到人口，招募过程会花费些时间。我们需要使用人口来耕种土地与经营商店，训练他们成为士兵</p><br /> 

<p>4.	训练士兵<br /> 
<image src="opbutton7.png" align=left border=1 width=40 hspace=4 vspace=4 />建造兵营可以把游民训练成士兵：骑兵（战斗力高，移动速度快）、步兵（大规模训练）、侦察兵（侦察敌情）</p><br /> 

<p>5.	商业税收<br /> 
<image src="tabpic1.png" align=left border=1 width=40 hspace=4 vspace=4 />建造店铺，可以定期获得税收</p><br /> 

<p>6.	加速<br /> 
<image src="opbutton0.png" align=left border=1 width=40 hspace=4 vspace=4 />建造建筑、种植农作物、招募人口、商业收税、训练士兵等都可以加速，加速需要凯撒币，每小时消耗1个凯撒币</p><br />

<p>7.	建筑升级<br /> 
<image src="opbutton1.png" align=left border=1 width=40 hspace=4 vspace=4 />除了装饰和农田外，每个建筑都可以升级，共三级。升级时可能会需要特殊物品。也可以快速升级，快速升级需要凯撒币</p><br />

<p>8.	特殊物品<br /> 
<image src="stone6.png" align=left border=1 width=40 hspace=4 vspace=4 />特殊物品在建筑升级时将会使用到，特殊物品来自于宝箱奖励、攻打敌人或怪物、好友赠送等</p><br />

<p>9.	人口相关<br /> 
<image src="flypersonmax.png" align=left border=1 width=40 hspace=4 vspace=4 />--人口上限：领地所能容纳的最高总人口，由城堡等级来决定，神像和装饰可以增加人口上限<br /> 
--总人口：民居已经招募到的游民；<br /> 
--劳动人口：已经被使用的人口。建筑耕地、商店都会消耗人口；<br /> 
--其中人口上限>=总人口>=劳动人口。</p><br />

<p>10.	资源<br />
<image src="stone1.png" align=left border=1 width=40 hspace=4 vspace=4 />资源分为粮食、木材、矿石。游戏大部分操作都会消耗粮食。木材和矿石在建筑升级以及建造特殊建筑的时候会被有消耗</p><br />

<p>11.	钱币<br />
<image src="flycaesars.png" align=left border=1 width=40 hspace=4 vspace=4 />钱币分为银币和凯撒币。其中凯撒币需要木瓜币兑换，它将会发挥意想不到的作用</p><br />

<p>12.	神像<br />
<image src="tabpic4.png" align=left border=1 width=40 hspace=4 vspace=4 />每个神像分为铜银金三个等级，他们能施展神迹，带来特殊的效果</p><br />

<p>13.	经验<br />
<image src="flyexp.png" align=left border=1 width=40 hspace=4 vspace=4 />用户建造建筑，从事生产，打开宝箱，攻打敌军，攻打怪物等都会产生经验，当经验累积到一定数值时会升级，每一级都会解锁新的物品</p><br />

<p>14.	好友互动<br />
<image src="friendbutton1.png" align=left border=1 width=40 hspace=4 vspace=4 />每天访问好友页面将会有惊喜等着你，在好友页面你可以帮助好友治理领地、与好友互赠礼物、帮助好友打开宝箱，甚与强大的好友结盟！</p><br />

<p>15.	赠送礼物<br />
<image src="giftButton.png" align=left border=1 width=40 hspace=4 vspace=4 />访问好友页面可以与该好友互赠礼物，但每天与同一个好友只能赠送一次</p><br />

<p>16.	开宝箱<br />
<image src="button2.png" align=left border=1 width=40 hspace=4 vspace=4 />游戏会不定期出现宝箱，宝箱需要好友的帮助或是使用凯撒币才能打开。每个宝箱都会有惊喜哦</p><br />

<p>17.	扩地<br />
<image src="tabpic6.png" align=left border=1 width=40 hspace=4 vspace=4 />可以通过好友数、银币、凯撒币来扩建自己的领地</p><br />

<p>18.	规划<br />
<image src="planbutton.png" align=left border=1 width=40 hspace=4 vspace=4 />点击规划按钮，你可以摆出各种好看布局。你可以截图，保存或上传这些图片给好友欣赏</p><br />

<br /> 

<p class="paraTitle"><a name="war">战争相关</a></p>

<p>1.爵位<br />
<image src="nobi0.png" align=left border=1 width=40 hspace=4 vspace=4 />爵位分为平民、男爵、子爵、伯爵、侯爵、公爵、帝王。每个爵位分为三等，如三等男爵、二等男爵、一等男爵。爵位升级取决于战胜次数</p><br />


<p>2.	防御战斗力组成<br />
<image src="opbutton8.png" align=left border=1 width=40 hspace=4 vspace=4 />
防御战斗力 = 留守士兵战斗力 + 城墙防御力 + 盟军援助战斗力 + 战争之神神迹加成</p><br />

<p>3.	进攻战斗力组成<br />
<image src="opbutton13.png" align=left border=1 width=40 hspace=4 vspace=4 />
进攻战斗力 = 派出士兵战斗力 + 盟军援助战斗力 + 战争之神神迹加成</p><br />

<p>4.	盟军<br />
<image src="friendbutton2.png" align=left border=1 width=40 hspace=4 vspace=4 />
进入好友页面，可以与好友结盟，在你战斗的时候系统将自动派盟友援助你攻打敌人。每个人都会拥有固定的盟友名额，该名额随着爵位的升高而增多，你也可以通过凯撒币来购买盟友名额。主动与盟友解除盟约时会受到一定程度的惩罚。盟军战斗力由盟友战斗力及用户自身战斗力而定，盟友战斗力越高，用户自身战斗力越高盟军战斗力就越高</p><br />

<p>5.	战场<br />
<image src="mapbutton.png" align=left border=1 width=40 hspace=4 vspace=4 />
战场共分7级。每级战场容纳的用户数递增，每次爵位升级都会去新的战场，高级战场会有更高级的怪物，更强的对手，更高级的装饰</p><br />

<p>6.	攻打其他用户<br />
<image src="opbutton13.png" align=left border=1 width=40 hspace=4 vspace=4 />
点击攻打—》选择派兵数量（可以选择盟军）--》行军—》战斗。骑兵所占比例越高，行军速度越快。在战斗时，战争之神使用神迹&用户在线都会增加士兵战斗力。每次攻打都会有丰富的奖励。可以同时攻打若干城池，但也要注意派出太多兵力会被敌人乘虚而入</p><br />

<p>7.	攻打怪物<br />
<image src="monster23.png" align=left border=1 width=40 hspace=4 vspace=4 />用户可以攻打怪兽，无行军距离，但是用户战斗力必须高于怪兽战斗力时才能攻打，战胜怪物会获得丰富的奖励</p><br />

<p>8.	侦察<br />
<image src="opbutton12.png" align=left border=1 width=40 hspace=4 vspace=4 />用户可以侦察敌方的情报。分为普通侦察、中级侦察、高级侦察、金牌侦察。不同等级的侦察获得的情报有所不同</p><br />

<p>9.	防御<br />
<image src="opbutton7.png" align=left border=1 width=40 hspace=4 vspace=4 />防御力=城墙防御力+留守士兵战斗力。用户可以通过凯撒币或是银币+资源来增加城墙防御力</p><br />

<p>10.	军情<br />
<image src="warbutton10.png" align=left border=0 width=40 hspace=4 vspace=4 />记录用户正在攻打、正在防御对象列表</p><br />

<p>11.	战绩<br />
<image src="warbutton20.png" align=left border=0 width=40 hspace=4 vspace=4 />记录用户历史战绩，该战场的战胜列表和战败列表，用户每次进入新的战场时都会清空当前数据</p><br />

<p>12.	如何提升战斗力<br />
<image src="flysoldier.png" align=left border=1 width=40 hspace=4 vspace=4 />训练士兵；与更多更强的好友结盟；战斗时，战争之神施展神迹战斗力加成</p><br />

<p>如果有任何问题或建议欢迎发邮件<a href="mailto:wonderempire@gmail.com">wonderempire@gmail.com</a>，也许你将会有意想不到的奖励哦！</p><br />

</body>
</html>
